.env
site
.coverage
coverage.xml
*.egg-info
__pycache__
*.pyc
.DS_Store
.idea
.vscode
*venv*
orbiter_test
output
build
dist
orbiter-*-*
astro
demo
test_binary
workflow
*.pyz
orbiter-*
.python-version
translation_ruleset.html
.plans
.worktrees
