name: Check
on: [pull_request]
permissions:
  contents: write
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - uses: extractions/setup-just@v2
      - name: Set Python version
        run: echo "UV_PYTHON=${{ matrix.python-version }}" >> $GITHUB_ENV
      - run: just install
      - run: just test-with-coverage
      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
